<nav *ngIf="(tokenService.isLoggedIn$ | async)">
  <div class="logo">
    <img src="/assets/logo_p6.png" alt="Logo" />
  </div>
  <button class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </button>
  <ul class="nav-links" [ngClass]="{'active': menuOpen}">
    <li id="toplist" *ngIf="(tokenService.isLoggedIn$ | async)"><a routerLink="/posts">Articles</a></li>
    <li *ngIf="(tokenService.isLoggedIn$ | async)"><a routerLink="/topics">Thèmes</a></li>
    <li id="profile" *ngIf="(tokenService.isLoggedIn$ | async)">
      <a routerLink="/user/me" aria-label="Profil">
        👤
      </a>
    </li>
  </ul>
</nav>
