<nav>
    <div class="logo">
      <img src="/assets/logo_p6.png" alt="Logo" />
    </div>
    <ul class="nav-links">
      <li *ngIf="(tokenService.isLoggedIn$ | async)"><a routerLink="/posts">Articles</a></li>
      <li *ngIf="(tokenService.isLoggedIn$ | async)"><a routerLink="/topics">Thèmes</a></li>
      <li *ngIf="(tokenService.isLoggedIn$ | async)">
        <a routerLink="/user/me" aria-label="Profil">
          👤
        </a>
      </li>
      <li *ngIf="(tokenService.isLoggedIn$ | async)"><a (click)="logOut()">Se déconnecter</a></li>
    </ul>
  </nav>